* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ===========NAVBAR============ */
nav {
    color: white;
    background-color: #353A40;
    align-items: center;
    justify-content: space-between;
}

.nav-color {
    background-color: #353A40;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

nav ul li a {
    color: white;
    margin: 10px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    transform: scale(1.2);
}

nav .logo {
    display: flex;
    width: 50%;
    margin: 10px 10px 20px 70px;
    align-items: center;
}

@media (max-width:768px) {
    nav .logo {
        margin: 10px;
    }
}

.logo img {
    width: 120px;
}

.verde {
    color: rgb(0, 180, 0);
}

/* ========HERO========== */
.hero__fondo {
    height: 80vh;
    background-image: url("../img/ba1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero__fondo__texto {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 100%;
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
}

@media (max-width:768px) {
    .hero__fondo__texto {
        padding: 5px;
    }

    .botones {
        width: 100%;
        display: flex;
        place-content: center;
    }
}

.hero__fondo__texto h1 {
    width: 50%;
}

.hero__fondo__texto p {
    width: 50%;
    font-size: 1rem;
}

.botones a {
    color: white;
}

@media (max-width:768px) {
    .hero__fondo__texto p {
        width: 100%;
        text-align: center;
    }

    .hero__fondo__texto h1 {
        width: 100%;
        text-align: center;
    }
}

/* --------botones en el hero-------- */
.boton-blanco {
    font-size: 1.1rem;
    border: solid white 1px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.boton-blanco:hover {
    background-color: white;
    color: black;
}

.boton-verde {
    font-size: 1.1rem;
    background-color: #29A646;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.boton-verde:hover {
    background-color: rgb(233, 201, 22);
    color: black;
}

@media (max-width:500px) {
    .botones {
        flex-direction: column;
        text-align: center;
        margin: 5px auto;
    }
}

/* ============ORADORES============ */
.oradores__texto {
    text-align: center;
    margin: 10px auto;
}

.contenedor__oradores {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 20px;
}

.oradores__tarjeta {
    width: 300px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.2);
    transition-duration: 0.5s;
}

.oradores__tarjeta:hover {
    transform: scale(1.0225);
}

.oradores__tarjeta__texto {
    width: 100%;
    padding: 0 15px;
    text-align: left;

}

.oradores__tarjeta__texto p {
    font-size: 0.9rem;
    text-align: left;
}

.oradores__tarjeta__img {
    width: 100%;
    height: 70%;
}

.oradores__tarjeta__img img {
    width: 100%;
    height: 100%;

}

.skills {
    padding: 10px;
    display: flex;
    align-items: center;
}

.amarillo {
    text-align: center;
    font-weight: 900;
    padding: 2px;
    border-radius: 5px;
    background-color: #FFC006;
    margin: 0 5px;
}

.azul {
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 2px;
    border-radius: 5px;
    background-color: #19A4BB;
    margin: 0 5px;
}

.gris {
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 2px;
    border-radius: 5px;
    background-color: #6C757C;
    margin: 0 5px;
}

.rojo {
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 2px;
    border-radius: 5px;
    background-color: #DC3546;
    margin: 0 5px;
}

/* ====== CUADRO con imagen pre footer ======*/
.cuadro {
    display: flex;
    height: 400px;
}

.cuadro__texto {
    width: 50%;
    height: 100%;
    background-color: #353A40;
    color: white;
    padding: 25px;
    font-size: 0.9rem;
}

.cuadro__texto .boton-blanco {
    margin: 0;
}

.cuadro__texto a {
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.cuadro__imagen {
    width: 50%;
    height: 100%;
}

.cuadro__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-blanco a {
    color: white;
}

@media (max-width:768px) {
    .cuadro {
        display: block;
        height: 100%;
    }

    .cuadro__imagen {
        width: 100%;
        height: 50%;
    }

    .cuadro__texto {
        width: 100%;
        height: 50%;
        padding: 20px;
    }
}

/* ============FORMULARIO pre footer============ */
.formulario h4 {
    font-size: 1rem;
}

.formulario h5 {
    font-size: 1.5rem;
}

.boton-formulario-verde {
    border: #29A646 solid 1px;
    background-color: #95BF3B;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.boton-formulario-verde:hover {
    background-color: #29A646;
}

.linea-puntos {
    text-decoration: dotted underline;
}

/* ========NAVBAR EN EL FOOTER======== */
.menu-footer {
    background-color: #25555e;
}

.menu-footer ul {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin: 0;
    padding: 0;

}

.menu-footer li {
    padding: 20px;
}

.menu-footer li:hover {
    text-decoration: wavy underline;
}

@media(max-width:768px) {
    .menu-footer li {
        padding: 5px;
    }
}

/* ================Pagina TICKETS================ */
.main-tickets {
    height: auto;
    min-height: 70vh;
}

.descuento {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    place-content: center;
}

.descuento__tipo {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.descuento__tipo h4 {
    font-weight: 400;
}

.descuento__portentaje {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.borde__azul {
    border: solid rgb(39, 39, 205) 1px;
}

.borde_aqua {
    border: solid rgb(48, 177, 177) 1px;
}

.borde__amarillo {
    border: solid rgb(192, 192, 31) 1px;
}

.titulo{
    text-align: center;
    text-transform: uppercase;
}
.titulo p,h1{
    margin: 5px;
}
.monto{
    display: flex;
    font-size: 3rem;
    background-color: #19A4BB;
}
.monto p{
    margin: 10px auto;
    padding: 5px;
}